section.use
    .container
        h2.use__title Применение холодного асфальта
        .use__wrap
            .use__item
                .use__item-img
                    img(src="img/use1.png", alt="use")
                .use__item-title ПОДЪЕМЫ И СПУСКИ
                .use__item-text Быстрое и экономичное создание искусственных подъемов и спусков
                .use__item-hover
                    .use__btn-wrap
                        button.button.button_use.show-modal-call Заказать услугу
            .use__item
                .use__item-img
                    img(src="img/use2.png", alt="use")
                .use__item-title ЛОКАЛЬНЫЙ РЕМОНТ
                .use__item-text Быстрый и качественный локальный ремонт повреждений в асфальтовых покрытиях
                .use__item-hover
                    .use__btn-wrap
                        button.button.button_use.show-modal-call Заказать услугу
            .use__item
                .use__item-img
                    img(src="img/use3.png", alt="use")
                .use__item-title ЛЮКИ, ОТВОДЫ
                .use__item-text Быстрая заделка дорожных люков, отводов воды и выравнивание поверхности
                .use__item-hover
                    .use__btn-wrap
                        button.button.button_use.show-modal-call Заказать услугу
            .use__item
                .use__item-img
                    img(src="img/use4.png", alt="use")
                .use__item-title ДЕФОРМАЦИОННЫЕ ШВЫ
                .use__item-text Быстрый и качественный ремонт и заделка деформационных швов
                .use__item-hover
                    .use__btn-wrap
                        button.button.button_use.show-modal-call Заказать услугу
            .use__item
                .use__item-img
                    img(src="img/use5.png", alt="use")
                .use__item-title ОТМОСТКА ЗДАНИЙ
                .use__item-text Ремонт фундаментов зданий и сооружений в виде отмостков
                .use__item-hover
                    .use__btn-wrap
                        button.button.button_use.show-modal-call Заказать услугу
            .use__item
                .use__item-img
                    img(src="img/use6.png", alt="use")
                .use__item-title ПОДЪЕЗДНЫЕ УЧАСТКИ
                .use__item-text Ремонт подъездных участков промышленных зон и торговых баз
                .use__item-hover
                    .use__btn-wrap
                        button.button.button_use.show-modal-call Заказать услугу
            .use__item
                .use__item-img
                    img(src="img/use7.png", alt="use")
                .use__item-title ТРУДНОДОСТУПНЫЕ УЧАСТКИ
                .use__item-text Ремонт труднодоступных участков дорог
                .use__item-hover
                    .use__btn-wrap
                        button.button.button_use.show-modal-call Заказать услугу
            .use__item
                .use__item-img
                    img(src="img/use8.png", alt="use")
                .use__item-title ЯМЫ
                .use__item-text Ямочный ремонт дорог и придомовых территорий
                .use__item-hover
                    .use__btn-wrap
                        button.button.button_use.show-modal-call Заказать услугу
        .use__text Стоимость вышеуказанных услуг от 500р. кв.м.