section.goods
    .container
        .goods__wrap
            .goods__item
                img(src="img/item1.jpg", alt="item").goods__item-img
                .goods__item-descr Холодный асфальт, мешок 35кг
                .goods__item-price
                    span 350
                    | ₽
                .goods__item-hover
                    .goods__btn-wrap
                        button.button.button_goods.show-modal-call Быстрый заказ
            .goods__item
                img(src="img/item2.jpg", alt="item").goods__item-img
                .goods__item-descr Холодный асфальт, биг-бэг 1 тонна
                .goods__item-price
                    span 10 000
                    | ₽
                .goods__item-hover
                    .goods__btn-wrap
                        button.button.button_goods.show-modal-call Быстрый заказ
            .goods__item
                img(src="img/item2.jpg", alt="item").goods__item-img
                .goods__item-descr Холодный асфальт, биг-бэг 5 тонн
                .goods__price-wrap
                    .goods__old-price 50 000 ₽
                    .goods__new-price
                        span 45 000
                        | ₽
                .goods__item-hover
                    .goods__btn-wrap
                        button.button.button_goods.show-modal-call Быстрый заказ