.demo
    .container
        h2.demo__title Укладка холодного асфальта
        .demo__text Холодный асфальт отличается простой укладкой. Операции максимально упрощены.Место укладки не требуется поливать разными видами мастик, горячим битумом или эмульсиями. Данный тип асфальта, поставляемый в удобной герметичной упаковке, позволяет значительно сократить затраты на восстановление эксплуатируемых поверхностей и прокладку новых дорожных покрытий.
        .demo__video
                iframe(src="https://www.youtube.com/embed/z3HY-H5KMiM?rel=0&controls=1&showinfo=0&autoplay=1", frameborder="0") 
