section.about
    .container
        .about__item
            .about__item-wrap
                h2.about__item-title Холодный асфальт, преимущества
                ol
                    li.about__item-punkt Возможность использования при отрицательных температурах.
                    li.about__item-punkt Длительный срок хранения.
                    li.about__item-punkt Не требуется применять специальные средства для ремонта.
                    li.about__item-punkt Высокая адгезия и повышенная устойчивость на использованных участках.
                    li.about__item-punkt Гидроизоляционные свойства.
                    li.about__item-punkt Быстрая и простая укладка.
            .about__item-img
                img(src="img/about1.png", alt="about")
        .about__item
            .about__item-img
                img(src="img/about2.png", alt="about")
            .about__item-wrap
                h2.about__item-title Холодный асфальт, что это?
                .about__item-text Холодный асфальт используется как всепогодная смесь, полностью готовая к укладке круглый год. Главная особенность холодного асфальта, является возможность быстро заделать ямы, выбоины на дорогах и гарантировать долговечность ремонта и высокую степень гидроизоляции покрытия. Период хранения составляет около 2 лет в открытом виде, в герметично запаянных мешках до 10 лет.
