header.header
    .container
        .header__main-wrap
            .header__logo Производство холодного асфальта
            .header__address Омская область, Омский район, д.Зеленое Поле, ул.Центральная,97
            .header__phone-wrap
                .header__phone-subwrap
                    a(href="tel:+79509508682").header__phone +7 950 950-86-82
                    a(href="mailto:vsg222@yandex.ru").header__email vsg222@yandex.ru
                    .header__hover-wrap
                        .header__hover-phone +7 950 950-86-82
                            .header__hover-text Оформить заказ
                        a(href="mailto:vsg222@yandex.ru").header__hover-email vsg222@yandex.ru
                button.header__icon.show-modal-call
                    img(src="img/callback.png", alt="phone")
