footer.footer
    .container
        .footer__main-wrap
            .footer__logo Производство холодного асфальта
            .footer__address Омская область, Омский район, д.Зеленое Поле, ул.Центральная,97
            .footer__phone-wrap
                .footer__phone-subwrap
                    a(href="tel:+79509508682").footer__phone +7 950 950-86-82
                    a(href="mailto:vsg222@yandex.ru").footer__email vsg222@yandex.ru
                button.footer__icon.show-modal-call
                    img(src="img/callback.png", alt="phone")