section.feedbacks
    .container 
        h2.feedbacks__title Отзывы о холодном асфальте
        .feedbacks__tab-wrap 
            .feedbacks__tab.feedbacks__tab_active
                img(src="img/feedback1.png", alt="feedback")
            .feedbacks__tab 
                img(src="img/feedback2.png", alt="feedback")
            .feedbacks__tab 
                img(src="img/feedback3.png", alt="feedback")
        .feedbacks__content.feedbacks__content_active
            .feedbacks__text Надо было заделать две ямы, глубиной 4 сантиметра каждая и размером 20*30 сантиметров. Хватило 2 мешков по 25кг холодного асфальта. Доставить можно самостоятельно на машине в багажнике. По деньгам это не более 500 рублей. А сколько бы стоили материалы-аналоги? Вообщем отличный материал для быстрого ремонта выбоин на дороге или площадке.
            .feedbacks__name Александр
                span ООО АЛМЕСТ
        .feedbacks__content
            .feedbacks__text В ноябре, когда температура воздуха колебалась в районе ноля градусов и уже начал выпадать первый снег, возникла необходимость срочно отремонтировать 2 небольших участка асфальтированной отмостки у жилого дома.<br><br>Приобрел 10 мешков асфальта. Заделал поврежденное место по инструкции. Прошло уже 10 месяцев, заплатка держится отлично нигде не выкрошилась, поверхность гладкая.
            .feedbacks__name Роман
                span Частное лицо
        .feedbacks__content
            .feedbacks__text На мой взгляд основные достоинства: возможность его укладки при температуре до минус 25 градусов и фасовка в мешки по 30 кг.<br><br>Для быстрого ремонта небольших асфальтированных участков данный материал подходит лучше всего, а в зимний период, когда асфальтовые завода уже не работают - практически единственный который позволяет выполнить быстрый и качественный ремонт.
            .feedbacks__name Сергей
                span ОАО "ТРАНС-ПИТЕР"